body {
    background-color: black;
}

header {
    border-bottom: 2px solid white;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    padding-top: 5px;
}

.contenedor-input {
    padding-top: 10px;
    padding-left: 720px;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    padding: 0;
 
 
}

.text {
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.itemHeader {
    display: flex;
    background-color: #e00000;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;

}

.titulo {
    display: flex;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    background-color: black;
    padding-left: 25px;
}
.cajaPadre {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px;
}

.cajaHija {
    width: 18%;
}


.imagen {
    width: 100%;
    border: 3px solid red;
}

.texto1 {
    display: flex;
    color:white;
    font-family: 'Urbanist', sans-serif;
    justify-content: center;
}

.navBar2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(200, 0, 0);
    height: 50px;
    padding-top: 20px;
    list-style: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

footer {
    border-top: 2px solid white;
}

.itemBusqueda{
    display: flex;
    background-color: #e00000;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.navBusqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    padding: 20px;
}