body {
    background-color: black;
}

header {
    border-bottom: 2px solid white;
}

.section {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.logo {
    display: flex;
    width: 20%;
    flex-wrap: wrap;
    padding-top: 5px;
}

.contenedor-input {
    padding-top: 10px;
    padding-left: 720px;
}

.navBar {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    padding: 0;
 
 
}

.text {
    text-decoration: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

.itemHeader {
    display: flex;
    background-color: #e00000;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;

}

.titulo {
    display: flex;
    justify-content: center;
    color: #ffffff;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    padding-top: 15px;
    background-color: black;
}
.cajaPadre {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-left: 50px;
    padding-right: 50px;
}

.cajaHija {
    width: 26%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 30px;
    margin-right: 30px;
}

.imagen {
    width: 100%;
    border: 3px solid red;
}

.texto1 {
    display: flex;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    justify-content: center;
}

.navBar2 {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(200, 0, 0);
    height: 50px;
    padding-top: 20px;
    list-style: none;
    color:white;
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
}

footer {
    border-top: 2px solid white;
}

.itemBusqueda{
    display: flex;
    background-color: #e00000;
    padding-top: 15px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 15px;
    justify-content: center;
    align-items: center;
    width: 200px;
}
.navBusqueda{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-evenly;
    height: 50px;
    padding: 20px;
}

.body-detalle {
    background-color: black;
}

h1 {
    color:white;
    font-family: 'Alata', sans-serif;
    font-size: 70px;
    display: flex;
    align-items: end;
    margin: 15px;

}

.fav {
    color: azure;
    background-color: rgba(255, 255, 255, 0.272);
    font-size: 20px;
    margin-left: 0px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 230px;
    height: 50px;
    border: solid rgb(9, 9, 22);
}

.fa-heart-circle-plus {
    margin: 18px;
    margin-left: -1px;
    padding: 0%;
    color: white;
}

h3 {
    color: white;
    font-family: 'Urbanist', sans-serif;
    font-size: 15px;
    margin: 13px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    
}

.cast {
    display: flex;
    justify-content: end;
    align-items: end;
}

.stars {
    font-weight: 900;
    color: rgb(247, 251, 5);
    display: flex;
    flex-wrap: wrap;
    margin: 13px;

}

.fa-house-chimney {
    opacity: 0.6;
    margin: -13px;
    font-size: 20px;
    position: fixed;
    top: 10px;  
    right: 10px; 
    color: rgb(234, 91, 56);
    margin: 13px;

}

.fa-heart {
    opacity: 0.6;
    margin: -13px;
    font-size: 22px;
    position: fixed;
    top: 9px;  
    right: 43px; 
    color: rgb(234, 91, 56);
    margin: 13px;

}

p {
    color: white;
    font-family: 'Jost', sans-serif;
    font-size: 18px;
    margin: 13px;
   
}

.rating {
    font-family: 'Josefin Sans', sans-serif;
    flex-wrap: wrap;
    flex-direction: row;
    margin:1px;
    font-size: 19px;

}

.imagenPelicula {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: start;
    align-items: start;
    position: absolute;
    opacity: 0.5;
}

.footer-detalle {
    position: fixed;
    bottom: 0;
    width: 100%;
    opacity: 0.5;

}